/* Definindo a fonte Ketchum Italic */
@font-face {
  font-family: 'KetchumItalic';
  src: url('/fonts/KetchumItalic.otf');
}

/* Definindo a fonte Ketchum */
@font-face {
  font-family: 'Ketchum';
  src: url('/fonts/Ketchum.otf') format('opentype');
}

/* Definindo a fonte Legend Of Zelda TriFont */
@font-face {
  font-family: 'LegendOfZeldaTriFont';
  src: url('/fonts/Legend-Of-Zelda-TriFont.ttf') format('truetype');
}

/* Definindo a fonte Pokemon Hollow */
@font-face {
  font-family: 'PokemonHollow';
  src: url('/fonts/Pokemon-Hollow.ttf') format('truetype');
}

/* Definindo a fonte Pokemon Solid */
@font-face {
  font-family: 'PokemonSolid';
  src: url('/fonts/Pokemon-Solid.ttf') format('truetype');
}

/* Definindo a fonte Super Mario Bros */
@font-face {
  font-family: 'SuperMarioBros';
  src: url('/fonts/Super-Mario-Bros.ttf') format('truetype');
}

/* Definindo a fonte SuperMario256 */
@font-face {
  font-family: 'SuperMario256';
  src: url('/fonts/SuperMario256.ttf') format('truetype');
}

/* Definindo a fonte The Wild Breath of Zelda */
@font-face {
  font-family: 'TheWildBreathOfZelda';
  src: url('/fonts/The-Wild-Breath-of-Zelda.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff0000;
}

/* Efeito de fundo tipo vidro */
#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  transition: opacity 0.3s ease-in-out;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1000;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

button {
  padding: 0.6rem 1.2rem;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1rem;
  transition: background-color 0.3s ease, opacity 0.2s ease;
}

button:hover {
  opacity: 1;
  background-color: darken(#ff0000, 10%);
}

button:focus {
  outline: 2px solid #ff0000;
}

.modal-body label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.modal-body select,
.modal-body input {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.modal-body select:focus,
.modal-body input:focus {
  border-color: #ff0000;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

body {
  position: relative;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 20;
}

footer {
  color: #ffffff;
  /* Cor do texto no footer */
  text-align: center;
  /* Centraliza o texto */
  padding: 1rem;
  /* Espaçamento interno */
  background: transparent;
}

.logo img {
  max-width: 60px;
  max-height: 60px;
  filter: invert(1);
  transition: transform 0.5s ease;
}

.logo:hover img {
  transform: rotate(540deg) scale(1.2);
  transition: transform 0.5s ease;
}

.mobile-menu {
  display: none;
}

/*alteracao abaixo :*/

.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

/*alterado*/

.nav li .logo {
  display: none;
}

.nav li {
  list-style-type: none;
}

/*alteracao excluido:#itemListNavLogin , incluido; text-shadow: 0px 0px 5px black*/
.nav li a,
.nav-list #itemListNavLogin {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 10px;
  text-shadow: 0px 0px 5px black;
}

/*alteracao*/

.nav li:hover a {
  color: var(--primary);
}

/*meu*/

.login {
  display: flex;
  /* Usa flexbox para alinhar os elementos lado a lado */
  align-items: center;
  /* Centraliza verticalmente os elementos */
  gap: 10px;
  /* Espaçamento entre o botão e o campo de login */
}

.login .button {
  width: 80px;
  height: 30px;
  transition: 0.5s;
  background: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 4px;
  margin-bottom: 2px;
}

.login .button:hover {
  color: var(--primary);
}

.login .logar {
  position: relative;
  left: 0;
  top: 0;
  width: 80%;
  height: 30px;
  /* Mesma altura que o botão */
  color: #ffffff;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 5px;
}

.search {
  position: relative;
  width: 130px;
  height: 40px;
  transition: 0.5s;
}

.search:hover {
  width: 300px;
}

.search input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 5px;
}

.search input::placeholder {
  color: #ffffff;
  text-transform: uppercase;
  transform: translateX(5px);
  font-weight: bold;
}

/* Adicionando a lupa como imagem de fundo no pseudo-elemento ::before */
.search::before {
  content: "";
  position: absolute;
  right: 10px;
  /* Distância da borda direita */
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  /* Ajuste de tamanho para a lupa */
  height: 20px;
  background: url("/images/lupa.png") no-repeat center center;
  background-size: contain;
  filter: invert(1);
  /* Para inverter a cor, se necessario */
}

.search input:hover,
.search input:focus {
  border: 1px solid #ffffff;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper .swiper-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  /* A altura será ajustada automaticamente conforme o conteúdo */
}

/* O swiper (carrossel) ocupa 100% da largura e altura total da tela. */

.swiper .swiper-wrapper .swiper-slide::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.swiper .swiper-wrapper .swiper-slide .banner img {
  position: absolute;
  max-width: 700px;
  transform: translateX(-50%);
  z-index: 1;
  left: 50%;
}

.swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* As imagens dentro dos slides são ajustadas para cobrir toda a área e são centralizadas. */

.swiper .swiper-wrapper .swiper-slide .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.swiper .swiper-wrapper .swiper-slide .banner img {
  position: absolute;
  max-width: 820px;
  transform: translateX(-50%);
  z-index: 1;
  left: 50%;
}

/* O banner dentro dos slides ocupa 100% da largura, tem altura mínima de 100vh, usa layout flexível para centralizar seu conteúdo horizontal e verticalmente. */
/*Botoes*/

/* sobe um pouco o slide 2 que tava colaso no canto inferior*/
#t2 {
  transform: translateY(-30px);
  /* Eleva o trailer um pouco para cima */
}

/* sobe um pouco o slide 2 que tava colaso no canto inferior*/

#t3 {
  transform: translateY(-43px);
  /* Eleva o trailer um pouco para cima */
}

.swiper .swiper-button-prev {
  position: absolute;
  width: 4%;
  /* Use porcentagem para o tamanho */
  height: 8%;
  /* Use a mesma porcentagem para manter a forma circular */
  top: 60%;
  /* Posicionamento do botão */
  left: 10%;
  /* Posicionamento do botão */
  z-index: 100;
  background-color: transparent;
  /* Fundo transparente */
  border-radius: 50%;
  /* Mantém o botão circular */
  border: 2px solid rgb(224, 213, 213);
  /* Borda opcional */
  transform: translateY(-50%);
  /* Centraliza verticalmente */
}

.swiper .swiper-button-next {
  position: absolute;
  right: 82%;
  top: 60%;
  /* Move o botão mais para baixo */
  width: 4%;
  /* Use porcentagem para o tamanho */
  height: 8%;
  /* Use a mesma porcentagem para manter a forma circular */
  z-index: 100;
  background-color: transparent;
  /* Fundo transparente */
  border-radius: 50%;
  border: 2px solid rgb(224, 213, 213);
  /* Borda opcional */
  transform: translateY(-50%);
}

/* O botão próximo do swiper está posicionado com largura e altura de 60px, no centro vertical e com fundo azul. */

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(224, 213, 213);
  width: 30px;
  height: 30px;
  line-height: 0;
  background: transparent;
  border-radius: 50%;
}

/* Os ícones dentro dos botões anterior e próximo estão centralizados, com cor semitransparente, largura e altura de 60px, e bordas arredondadas. */

.right {
  max-height: 70vh;
}

/* Define a altura máxima de 70% da viewport para os elementos com a classe 'right'. */

.banner img {
  max-width: 790px;
  max-height: 790px;
  width: 50%;
  height: 50%;
}

/* As imagens no banner têm largura e altura máximas de 790px e ocupam 50% do contêiner. */

.swiper .swiper-wrapper .swiper-slide .banner .left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100;
}

/* O conteúdo da seção à esquerda do banner é organizado em uma coluna flexível, com espaçamento uniforme entre os itens. */

.banner .left .features {
  max-width: 400px;
  margin-bottom: 100px;
}

/* A seção de recursos à esquerda tem largura máxima de 400px e uma margem inferior de 100px. */

.banner .left .features .rating {
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}

/* A seção de avaliação à esquerda tem texto branco, usa layout flexível para alinhar horizontalmente o conteúdo e tem uma margem inferior de 25px. */

.banner .left .features .rating .score {
  padding: 15px;
  font-size: 2rem;
  font-weight: 400;
  color: var(--primary);
  background: #ffffff;
  border-radius: 8px;
}

/* A nota de avaliação (score) tem padding de 15px, fonte grande (2rem), cor vermelha e fundo branco. */

.banner .left .features .content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* O conteúdo de recursos tem uma margem à esquerda de 20px e é exibido em uma coluna flexível. */

/*caixa com preço*/

.pricing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  color: #ffffff;
}

.square-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* Mesma configuração de padding */
  background-color: red;
  /* Fundo vermelho */
  color: white;
  /* Cor do texto */
  font-size: 2rem;
  /* Tamanho da fonte */
  font-weight: 400;
  /* Peso da fonte */
  margin-right: 10px;
  /* Espaço entre o botão e o restante do conteúdo */
  border-radius: 8px;
  /* Cantos arredondados */
  width: 25%;
  /* Define a largura como 50% do elemento pai */
  cursor: pointer;
}

.square-button:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

/* Estilização para a seção de conteúdo */
.pricing .content {
  color: #ffffff;
}

.pricing .content .subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.pricing h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.banner .left .features .pricing {
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 0px 0px 5px black;
}

/* A seção de preços é exibida com texto branco e layout flexível para alinhamento horizontal. */

.banner .left .features .pricing .link-add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  background: var(--primary);
}

.mario {
  font-family: "SuperMarioBros", sans-serif !important;
}

.pokemon-title {
  font-family: "PokemonHollow", sans-serif !important;
}

.zelda {
  font-family: "TheWildBreathOfZelda", sans-serif !important;
}

.banner .left .features .content h4 {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* O título 'h4' dentro do conteúdo tem cor branca, tamanho de fonte 1.5em, peso de fonte 400, espaçamento entre letras de 2px e é exibido em maiúsculas. */

.banner .left .features .content span {
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 400;
}

/* O texto adicional no conteúdo tem tamanho de fonte 0.7em, é exibido em maiúsculas e tem peso de fonte 400. */

.banner .left .features .content .subtitle {
  color: var(--primary);
}

/* O subtítulo dentro do conteúdo de recursos tem a cor definida pela variável --primary (vermelha). */

.banner h1 {
  color: #ffffff;
  font-size: 5em;
  letter-spacing: 5px;
  line-height: 0.9;
  z-index: 10;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px black;
}

.swiper .swiper-wrapper .swiper-slide .banner .right {
  position: relative;
  height: 100vh;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  z-index: 100;
}

/* A seção à direita no banner é posicionada de forma relativa, ocupa 100vh de altura, tem largura máxima de 450px, layout em coluna e alinhamento à direita. */

.banner .right .description {
  padding: 30px 60px 0 0;
  color: #ffffff;
  text-shadow: 0px 0px 5px black;
}

/* A descrição à direita tem padding no topo e na direita e cor branca. */

.banner .right .description li {
  list-style: none;
}

.banner .right .description h4 {
  display: inline-block;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

/* O título 'h4' da descrição à direita tem tamanho de fonte 1.3em, maiúsculas, peso 400, espaçamento entre letras de 1px, e é exibido como bloco inline. */

.banner .right .description p {
  margin: 5px 0 25px 29px;
  font-weight: 300;
}

/* Os parágrafos na descrição têm margem superior de 5px e margem inferior de 25px, com peso de fonte leve (300). */

.banner .right h2 {
  color: #ffffff;
  font-size: 3.5em;
  line-height: 1em;
  font-weight: 400;
  text-align: right;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px black;
}

/* O título 'h2' à direita tem cor branca, fonte grande (3.5em), linha de altura 1em, peso de fonte 400, alinhamento à direita e margem inferior de 20px, e é exibido em maiúsculas. */

.banner .right iframe {
  max-width: 450px;
  max-height: 250px;
}

.notification {
  padding: 15px 20px;
  margin: 10px 0;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s, fadeOut 0.5s 3.5s;
}

.notification.success {
  background-color: #28a745;
}

.notification.error {
  background-color: #dc3545;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}


/* O iframe à direita do banner tem largura máxima de 450px e altura máxima de 250px. */

@media (max-width: 768px) {
  /* Ajuste do header */
  header {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .nav,
  .login,
  .search {
    display: none;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    right: 10px;
    z-index: 103;
    cursor: pointer;
  }

  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: transform 0.3s, opacity 0.3s;
  }

  /* Estilo para o menu ativo */
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* Ajuste do menu nav-list */
  .nav .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #23232e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 102;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav .nav-list.active {
    transform: translateX(0);
  }

  /* Ajuste da imagem no banner */
  .swiper .swiper-wrapper .swiper-slide .banner img {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
  }

  /* Ajustes do banner */
  .swiper .swiper-wrapper .swiper-slide .banner {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
  }

  .banner h1 {
    font-size: 2.5em;
  }

  .banner .left {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }

  .banner .left .features {
    margin-bottom: 2rem;
  }

  .banner .right {
    max-height: initial;
    align-items: center;
    text-align: center;
  }

  .banner .right iframe {
    max-width: 300px;
    max-height: 185px;
  }

  /* Sidebar estilo */
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9;
    color: #fff;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }

  .sidebar ul li a:hover {
    color: var(--primary);
  }

  /* Login e busca no sidebar */
  .sidebar .login,
  .sidebar .search {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .sidebar .search input {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .sidebar .search input:focus {
    border-color: var(--primary);
  }
}

@media (min-width: 768px) {
  .mobile-menu,
  .sidebar {
    display: none;
  }
}
