* {
    margin-bottom: 0px;
    margin-top: 0px;
}

body {
    background-color: #dfece6;
    margin-left: 0;
    margin-right: 0;
}

header {
    padding: 10px;
    background-color: #215a6d;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: #ECF0F1;
    text-align: center;
    padding: 8px;
    margin-left: 10%;
    margin-right: 10%;
}

.title-body h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-bottom: 0px;
}

.display {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    background-color: #2d2d29;
    color: #fff;
    font-size: 40px;
    border-radius: 20px;
}

.btn-atcions {
    margin-top: 8px;
}

.btn-atcions button {
    margin-top: 5px;
    padding: 8px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
    background-color: #215a6d;
    color: #fff;
    cursor: pointer;
}

.btn-atcions button:hover {
    background-color: #3ca2a2;
}

.legend-btns {
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
}

.legend-text {
    text-align: right;
}

.negrito {
    font-weight: bolder;
}

footer {
    background-color: #215a6d;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}