/* Estilos para o container do contador */
.counter-container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    color: #394736;
  }
  
  /* Estilo para o título do contador */
  .counter-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #b99555;
  }
  
  /* Estilo para o valor do contador */
  .counter-container h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0;
    color: #696b46;
  }
  
  /* Estilos para os botões */
  .counter-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  /* Estilo para o botão de incremento */
  .counter-button.increment {
    background-color: #a8462d;
    color: white;
  }
  
  .counter-button.increment:hover {
    background-color: #8a3d26;
    transform: scale(1.1);
  }
  
  /* Estilo para o botão de decremento */
  .counter-button.decrement {
    background-color: #5c584c;
    color: white;
  }
  
  .counter-button.decrement:hover {
    background-color: #4a4b3e;
    transform: scale(1.1);
  }
  
  /* Margem entre os botões */
  .counter-button + .counter-button {
    margin-left: 10px;
  }
  